<aside class="aside">
  <div class="aside-container">
    <!-- Mascot -->
    <svg id="mascot" width="130" height="143" viewBox="0 0 130 143" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0_5_145" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="130" height="143">
      <rect width="129.63" height="143" rx="64.815" fill="#FF708A"/>
      </mask>
      <g mask="url(#mask0_5_145)">
      <ellipse cx="71.7132" cy="80.1786" rx="56.7132" ry="56.1786" fill="#444444"/>
      <path d="M241.829 123.053C241.289 120.193 233.727 123.768 231.747 123.947C210.322 126.27 202.58 94.2741 185.476 96.7766C181.875 97.3129 178.454 99.2791 175.394 101.782C164.951 98.0279 145.687 102.675 124.262 102.139C117.06 101.96 118.5 88.0179 112.919 72.6454C110.038 64.9591 106.618 63.1716 104.997 71.3941C102.837 81.9404 100.856 82.2979 97.7956 74.9691C96.7153 72.4666 93.2945 62.2779 90.2338 70.1429C86.2729 80.3316 85.7328 84.6216 85.7328 84.6216C85.7328 84.6216 67.9087 94.0954 63.0475 96.9554C58.5465 99.6366 59.4467 104.105 63.0475 106.072C67.0084 108.038 79.7914 112.328 82.132 115.188C83.7523 116.797 88.0733 126.628 91.6742 135.565C90.774 141.285 87.7132 160.054 86.0929 167.025C84.1124 175.605 91.8542 177.75 96.5353 167.919C98.3357 163.987 100.856 159.697 103.197 155.943H103.377C106.798 161.127 111.479 168.098 114.359 172.03C118.86 177.929 123.542 175.784 123.542 167.919C123.542 161.484 123.181 154.334 123.001 151.117C135.604 147.72 155.229 147.363 164.231 150.58C164.411 153.44 164.951 162.02 167.652 169.17C170.893 177.929 176.294 178.108 178.454 168.813C179.174 165.774 179.895 162.557 180.435 159.518C184.036 163.45 187.636 167.74 190.517 170.958C197.539 179.002 202.22 176.857 198.259 163.987L187.456 128.773C187.456 126.985 187.276 125.198 187.096 123.41C195.018 134.493 201.68 146.112 215.543 150.223C236.608 156.479 243.269 131.097 241.829 123.053ZM89.3336 96.9554C89.6937 95.3466 92.0342 96.4191 91.6742 97.3129C90.4139 102.318 95.455 101.96 96.1752 98.3854C96.5353 96.9554 98.6958 97.1341 98.5158 98.5641C96.8954 106.787 86.9931 103.927 89.3336 96.9554ZM170.712 106.25C170.712 106.429 170.712 106.429 170.712 106.429V106.25Z" fill="#CCCCCC"/>
      </g>
      </svg>
      
    <h1 class="aside-h1"><%= title %></h1>
  </div>


  <!-- html that renders conditionally on mobile -->


  <nav class="aside-nav">
    <ul class="aside-ul">
      <li class="aside-li">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        <a href="/" class="nav-link">About</a>
      </li>
      <li class="aside-li">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
        <a href="/projects" class="nav-link">Projects</a>
      </li>
      <li class="aside-li">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fafafa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
        <a href="/resume" class="nav-link">Resume</a>
      </li>
      <li class="aside-li">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
        <a href="/contact" class="nav-link">Contact</a>
      </li> 
    </ul>
  </nav>
</aside>