<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head') %> 
    <title><%= title %> | Keith Misael Tovar</title>
</head>
<body>
    
    <%- include('partials/_aside') %> 
</body>
</html>