<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/_head') %> 
    <title>404 | Not Found</title>
</head>
<body class="error">
    <div class="error-container">
        <h1 class="aside-h1">Sorry, couldn't find what you were looking for. </h1>
        <p>Please try again.</p>
    </div>
</body>
</html>