* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #1d1d1d;
  --darker: #111;
  --light: #e5e5e5;
  --ligther: #fafafa;
}

body {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  align-items: flex-start;
  font-family: "Space Grotesk", sans-serif;
}

aside {
  background-color: var(--darker);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.5rem 0 2.5rem;
}

.aside-container {
  width: 280px;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  margin-top: 1rem;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.aside-h1 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -0.0375em;
}

a {
  color: var(--lighter);
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  margin-left: 0.75rem;
}

a:hover {
  font-weight: 600;
  font-size: 24px;
  text-decoration: underline;
}

.error {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: var(--dark);
}

.error-container {
  text-align: center;
}

@media (max-width: 400px) {
  body {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
  }

  aside {
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: var(--dark);
  }

  .aside-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--darker);
  }

  #mascot {
    width: 31.73px;
    height: 35px;
    margin-right: 12px;
  }

  .aside-h1 {
    font-size: 28px;
    margin-bottom: -2px;
  }

  nav {
    background-color: var(--darker);
    display: flex;
    width: 100%;
  }

  ul {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  li {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  a {
    font-size: 1rem;
    margin: 0;
  }

  a:hover {
    font-size: 1rem;
  }
}
